<template>
    <div>
        <h1>Welcome</h1>
        <c-sample some-param="123"></c-sample>
    </div>
</template>

<script>
    import _ from 'lodash';
    import Uikit from 'uikit';
    import UTILS from "../service/utils";
    import CSample from "../components/sample";

    export default {
        name: 'front',
        components: {CSample},
        computed: {},
        methods: {}
    }

</script>
<style lang="scss">

</style>