<template>
    <div>
        <h1>User</h1>
        <router-view></router-view>
    </div>
</template>

<script>
    import _ from 'lodash';
    import Uikit from 'uikit';
    import UTILS from "../service/utils";

    export default {
        name: 'user',
        components: {},
        computed: {},
        methods: {}
    }

</script>
<style lang="scss">

</style>